config main 'main'
	option enabled '0'
	option provider 'ntfy'
	option ntfy_server 'https://ntfy.sh'
	option ntfy_topic ''
	option ntfy_token ''
	option telegram_bot_token ''
	option telegram_chat_id ''
	option webhook_url ''
	option event_boot '1'
	option event_wan '1'
	option wan_interfaces 'wan wwan wwan_fm350'
